.version.norsk /* version checker */
{
	color: #0000ED;
	background-color: #3432D7;
}

.html
{
	background-color: #454B4B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u118
{
	z-index: 6;
	width: 650px;
	min-height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: -325px;
}

#u102-4
{
	z-index: 2;
	top: 663px;
	left: 50%;
	margin-left: -124px;
}

#u123
{
	z-index: 7;
	width: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 476px;
	left: 759px;
}

#u123_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

