.version.norsk /* version checker */
{
	color: #00000D;
	background-color: #6139DD;
}

.html
{
	background-color: #454B4B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 0px;
	padding-bottom: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u118
{
	z-index: 6;
	width: 650px;
	min-height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: -325px;
}

#u102-4
{
	z-index: 2;
	top: 663px;
	left: 50%;
	margin-left: -124px;
}

#u136
{
	z-index: 7;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 504px;
	left: 50%;
	margin-left: 285px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

